@using SkiShop.Core.Models.ProductViewModels

@model AddProductViewModel

<div class="card-header"><h3 class="text-center font-weight-light my-4">Create Product</h3></div>
<div class="card-body">
	<form enctype="multipart/form-data" method="post">
		<div class="row mb-3">
			<div class="col-md-6">
				<div class="form-floating mb-3 mb-md-0">
					<span asp-validation-for="@Model.Title" class="text-danger"></span>
					<input asp-for="@Model.Title" class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name" />
					<label asp-for="@Model.Title" for="inputFirstName">Title</label>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-floating">
					<span asp-validation-for="@Model.Description" class="text-danger"></span>
					<textarea asp-for="@Model.Description" class="form-control" id="inputLastName" type="text" placeholder="Enter your last name">
						</textarea>
					<label asp-for="@Model.Description" for="inputLastName">Description</label>
				</div>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-md-6">
				<div class="form-floating mb-3 mb-md-0">
					<select asp-for="@Model.BrandId" class="form-control">
						@foreach (var brand in ViewBag.Brands)
						{
							<option value="@brand.Id">@brand.Name</option>
						}
					</select>
					<label asp-for="@Model.BrandId" class="form-label">Product Brand</label>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-floating mb-3 mb-md-0">
					<select asp-for="@Model.ModelId" class="form-control">
						@foreach (var modelItem in ViewBag.Models)
						{
							<option value="@modelItem.Id">@modelItem.Name</option>
						}
					</select>
					<label asp-for="@Model.ModelId" class="form-label">Product Model</label>
				</div>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-md-6">
				<div class="form-floating mb-3 mb-md-0">
					<select asp-for="@Model.TypeId" class="form-control">
						@foreach (var type in ViewBag.Types)
						{
							<option value="@type.Id">@type.Name</option>
						}
					</select>
					<label asp-for="@Model.TypeId" class="form-label">Product Type</label>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-floating mb-3 mb-md-0">
					<span asp-validation-for="@Model.Price" class="text-danger"></span>
					<input asp-for="@Model.Price" class="form-control" />
					<label asp-for="@Model.Price">Price</label>
				</div>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-md-6">
				<div class="form-floating">
					<span asp-validation-for="@Model.Quantity" class="text-danger"></span>
					<input asp-for="@Model.Quantity" class="form-control" />
					<label asp-for="@Model.Quantity">Quantity</label>
				</div>
			</div>
		</div>
		<div class="container col-md-6">
			<div class="mb-3">
				<span asp-validation-for="@Model.FrontImage" class="text-danger"></span>
				<label for="Image" asp-for="@Model.FrontImage" class="form-label">Image</label>
				<input asp-for="@Model.FrontImage" class="form-control" type="file" id="formFile"
					   onchange="document.getElementById('FrontImagePrv').src = window.URL.createObjectURL(this.files[0])">
			</div>
			<img id="FrontImagePrv" src="" class="img-fluid" />
		</div>
		<input type="submit" class="btn btn-block btn-primary" value="Create Product" />
	</form>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
