@using SkiShop.Core.Models.ShoppingCartViewModels

@model IEnumerable<ShoppingCartProductViewModel>

<div class="container px-3 my-5 clearfix">
    <!-- Shopping cart table -->
    <div class="card">
        <div class="card-header">
            <h2>Shopping Cart</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered m-0">
                    <thead>
                        <tr>
                            <!-- Set columns width -->
                            <th class="text-center py-3 px-4" style="min-width: 300px;">Product</th>
                            <th class="text-right py-3 px-4" style="width: 150px;">Price</th>
                            <th class="text-center py-3 px-4" style="width: 100px;">Quantity</th>
                            <th class="text-right py-3 px-4" style="width: 100px;">Total</th>
                            <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {
                            <tr>
                                <td class="p-4">
                                    <div class="media align-items-center">
                                        <img src="@product.ImageUrl" width="150" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                                        <div class="media-body">
                                            @product.Name
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right font-weight-semibold align-middle p-4">@product.Price$</td>
                                <td class="align-middle p-4"><input type="text" class="form-control text-center" value="@product.Quantity"></td>
                                <td class="text-right font-weight-semibold align-middle p-4">@product.TotalPrice$</td>
                                <td class="text-center align-middle px-0">
                                    <a asp-route-productId="@product.Id" asp-action="RemoveFromCart" asp-controller="ShoppingCart" class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove">×</a>
                                    </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- / Shopping cart table -->

            <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
                <div class="d-flex">
                    <div class="text-right mt-4">
                        <label class="text-muted font-weight-normal m-0">Total price:</label>
                        @{
                            decimal totalPrice = 0;
                            foreach (var product in Model)
                            {
                                totalPrice += product.Price * product.Quantity;
                            }
                            <h5 class="text-large"><strong>@totalPrice</strong></h5>
                        }
                    </div>
                    <div class="float-right mt-4 ">
                        <a asp-action="Index" asp-controller="Home" class="btn btn-lg btn-default md-btn-flat mt-2 mr-3">Back to shopping</a>
                        <button type="button" class=" btn btn-lg btn-primary mt-2 ">Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>