@using Microsoft.AspNetCore.Identity
@using SkiShop.Data.Models.Account
@using SkiShop.Models.AccountViewModels

@model ExternalLoginViewModel

@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/login-register-theme//fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/login-register-theme/css/owl.carousel.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/login-register-theme/css/bootstrap.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="~/login-register-theme/css/style.css">

    <title>External Login</title>
</head>
<body>
    <div class="d-lg-flex half">
        <div class="bg order-1 order-md-2" style="background-image: url('/login-register-theme/images/bg_4.webp');"></div>
        <div class="contents order-2 order-md-1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7">
                        <div class="mb-4">
                            <h3>Login Information</h3>
                            <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>
                        </div>
                        <form asp-action="ExternalLoginConfirmation" asp-controller="Account" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group last mb-3">
                                <label asp-for="@Model.Email" for="username">Username</label>
                                <input asp-for="@Model.Email" type="text" class="form-control" id="username">
                                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group last mb-3">
                                <label asp-for="@Model.UserName" for="username">Username</label>
                                <input asp-for="@Model.UserName" type="text" class="form-control" id="username">
                                <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                            </div>
                            <div class="d-flex mb-5 align-items-center">
                                <label class="control control--checkbox mb-0">
                                    <span class="caption">Remember me</span>
                                    <input type="checkbox" checked="checked" />
                                    <div class="control__indicator"></div>
                                </label>
                                <span class="ml-auto"><a asp-action="Register" asp-controller="Account" class="forgot-pass">Don't have an account?</a></span>
                            </div>

                            <input type="submit" value="Log In" class="btn btn-block btn-primary">

                            <span class="d-block text-center my-4 text-muted">&mdash; or &mdash;</span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/login-register-theme/js/jquery-3.3.1.min.js"></script>
    <script src="~/login-register-theme/js/popper.min.js"></script>
    <script src="~/login-register-theme/js/bootstrap.min.js"></script>
    <script src="~/login-register-theme/js/main.js"></script>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}